@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 768px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background-color: #444;
    color: #fff;
}

body.light {
    background-color: #DDDDDD;
}

header {
    background-image: url("images/best-fall-movies.jpg");
    background-position: center;
    background-size: cover;
    height: 170px;
    text-align: center;
    text-shadow: 2px 2px 4px #444;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay h1 {
    color: #fff;
}

.link {
    color: #fff;
    text-decoration: none;
}

.movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    margin: 2em 0;
    padding: 1em;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(81, 81, 81, 0.5);
    box-shadow: 4px 4px 14px rgba(81, 81, 81, 0.5);
}

.info {
    padding: 1em;
}

.movie-poster {
    width: 160px;
    aspect-ratio: 2/3;
}

.title-rate {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.rate {
    min-width: 70px;
}

.rate i {
    color: #ffd900;
}

.sub-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.sub-info p {
    margin-bottom: .75em;
}

.btn {
    padding: 0.5em 1.5em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    min-width: 120px;
    transition: all .3s linear;
}

.watchlist-btn {
    background-color: #008DDA;
    color: #EEEEEE;
}

.remove-btn {
    background-color: #da0000;
    color: #EEEEEE;
}

.btn:active {
    transform: scale(1.1);
}

.swal2-confirm {
    background-color: #008DDA;
}

#search-form {
    position: sticky;
    top: 0;
    padding: 1em;
    margin-top: -2em;
}

.search {
    width: min(440px, 80%);
    margin: auto;
    display: flex;
    justify-content: stretch;
    height: 2.5em;
    box-shadow: 4px 4px 14px rgba(81, 81, 81, 0.5);
    border-radius: 10px;
}

.search input {
    flex-grow: 2;
    padding: 6px;
    border-radius: 8px 0 0 8px;
    border: none;
}

.search button {
    flex-grow: 1;
    border-radius: 0 8px 8px 0;
    border: none;
}

.container {
    background-color: #292929;
    min-height: 100vh;
}

.light .container {
    background-color: #EEEEEE;
    color: #292929;
}

.movies-container {
    padding: 2em;
}

.mode {
    position: fixed;
    bottom: 2.5em;
    right: 2.5em;
    background-color: #008DDA;
    color: #EEEEEE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.btns-container {
    position: relative;
}

.mode span.dark {
    left: -50px;
}

.mode span.dark.active {
    left: 0;
}

.mode span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s linear;
}

.mode span.light {
    left: 50px;
}

.mode span.light.active {
    left: 0;
}

.empty-watchlist {
    text-align: center;
}

.empty-watchlist img{
    width: 40%;
    margin: 2.5em 0;
}

.empty-watchlist a {
    color: #008DDA;
}

@media (max-width: 480px) {
    .movie {
        flex-direction: column;
        text-align: center;
    }

    .title-rate {
        flex-direction: column;
    }

    .rate {
        min-width: 50px;
    }

    .title-rate h2 {
        font-size: 1.25em;
    }

    .sub-info {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .watchlist-btn {
        margin: auto;
        width: 100%;

    }
}