@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 768px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    background-color: #444;
    color: #fff;
}

body.light {
    background-color: #d3d3d3;
}

header {
    background-image: url("best-fall-movies.jpg");
    background-position: center;
    background-size: cover;
    height: 170px;
    text-align: center;
    text-shadow: 2px 2px 4px #444;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay h1 {
    color: #fff;
}

.link {
    color: #fff;
    text-decoration: none;
}

.movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    margin: 2em 0;
    border: 1px solid #444;
}

.movie:hover {
    box-shadow: 4px 4px 14px rgba(81, 81, 81, 0.5);
}

.info {
    padding: 1em;
}

.movie-poster {
    width: 160px;
    aspect-ratio: 9/16;
}

.title-rate {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.rate i {
    color: #ffd900;
}

.sub-info {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;

}

.watchlist-btn {
    background-color: transparent;
    color: #ffd900;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.search {
    width: min(440px, 80%);
    margin: auto;
    display: flex;
    justify-content: stretch;
    height: 35px;
    margin-top: -20px;
    box-shadow: 4px 4px 14px rgba(81, 81, 81, 0.5);
    border-radius: 10px
}

.search input {
    flex-grow: 2;
    padding: 6px;
    border-radius:  8px 0 0 8px ;
    border: none;
}

.search button {
    flex-grow: 1;
    border-radius:  0 8px 8px 0;
    border: none;
}

.container {
    background-color: #292929;
    min-height: 100vh;
}

.container.light {
    background-color: #f7fffe;
    color: #292929;
}

.movies-container {
    padding: 2em;
}

.mode {
    position: fixed;
    bottom: 2.5em;
    right: 2.5em;
    background-color: #ffd900;
    color: #292929;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.btns-container {
    position: relative;
}

.mode span.dark {
    left: -50px;
}

.mode span.dark.active {
    left: 0;
}

.mode span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s linear;
}

.mode span.light {
    left: 50px;
}

.mode span.light.active {
    left: 0;
}
